*{
    margin:0px;
    padding:0px;
}
body{
    text-align:center;
}
.myphoto{
    margin:10px auto;
   height: 500px;
   width:500px;
   background-image:url("my_photo.jpg");
   background-size:cover;
}
.bio{
    font-style:italic;
    color :blueviolet;
    text-decoration: underline;
   font-weight: bolder;
}